extends layout

block content
  .page-header.text-center
    h3 Enter your keywords, separated by comma
  .row.text-center
    form.form-horizontal(action='/tweets', method='get')
      .form-group
        .col-md-10
          input.form-control(type='text', name='keywords', id='keywords', placeholder='#Dog Cute', autofocus, text=keywords)
        .col-md-2
          button.form-control.btn.btn-success.btn-block.submit-btn(type='submit')
            i.fa.fa-arrow-right
            | Submit


            