extends layout

block content
    .col-xs-12.landing
      .row
        .col-sm-6.col-sm-offset-3
          .text-center
            h1 Hi
            h4 This is a web app made for CAB432 Auto Scaling Assignment
            br
            p
              a.btn.btn-success.btn-lg(href='/home', role='button') Get Started »