extends layout

block content
  .page-header.text-center
    h3 Real-time Tweets
  .table-overflow
    table.table.table-hover.table-bordered.table-striped
      thead
        tr
          th Date
          th User
          th Tweet
      tbody
        each tweet in tweets
          tr
            td=tweet.created_at
            td=tweet.user.screen_name
            td=tweet.text
  br
  .row.text-center
    a.btn.btn-info(href="/result?limit=" + limit + "&keywords=" + keywords) Visualize Sentiment Result
